//*******************************************
//***           HOME BANNER - SECTION     ***
// ******************************************


div#shopify-section-home-banner {
  height: 650px;
  background-color: white;
  .col-lg-7 {
    position: relative;
    .shopify-section-banner__main {
      position: absolute;
      top: 50%; left: 50%;
      height: 30%; width: 90%;
      margin: -15% 0 0 -45%;
      & * {
        margin-top: 10px;
        margin-bottom: 10px;
      }
      // .shopify-section-banner__main__heading {
        
      // }
      
      // .shopify-section-banner__main__text {
        
      // }
      .shopify-section-banner__main__button {
        
        padding: 15px 25px;
        background-color: white;
        color: $color-main-green;
        border: 3px solid $color-main-green;
      }
    }    
  }
  .shopify-section-banner__secondary {  // image
    line-height: 650px;
    .shopify-section-banner__secondary__image {
      vertical-align: bottom;
    }
  }  
}
