//*******************************************
//***          BANNER - SECTION     ***
// ******************************************

.shopify-section-banner {
  height: 550px;
  &__main {
    display: flex;
    align-items: center;
    &__wrapper {
      text-align: right;
      &__heading {
        font-size: 3.125rem;
        font-weight: 300;
      }
      &__primary {
        font-size: 1.625rem;
        font-weight: 300;
      }
    }
  }
  &__secondary {
    display: flex;
    &__image {
      max-height: 480px;
      width: auto;
      display: block;
      margin: auto;
    }
  }
}





// // IMG-LEFT

// div#shopify-section-banner-img-left {
//   height: 550px;
//   .col-lg-7 {
//     position: relative;
//     .shopify-section-banner__main {
//       position: absolute;      
//       top: 50%; left: 50%;
//       height: 30%; width: 90%;
//       margin: -15% 0 0 -45%;
//       & * {
//         margin-top: 10px;
//         margin-bottom: 10px;
//       }
//       // .shopify-section-banner__main__heading {
        
//       // }
      
//       // .shopify-section-banner__main__text {
        
//       // }
//       .shopify-section-banner__main__button {
        
//         padding: 15px 25px;
//         background-color: white;
//         color: $color-main-green;
//         border: 3px solid $color-main-green;
//       }
//     }    
//   }
//   .shopify-section-banner__secondary {  // image
//     line-height: 550px;
//     .shopify-section-banner__secondary__image {
//       vertical-align: baseline;
//     }
//   }
// }


// // IMG-RIGHT

// div#shopify-section-banner-img-right {
//   height: 550px;
//   .col-lg-7 {
//     position: relative;
//     .shopify-section-banner__main {
//       position: absolute;      
//       top: 50%; left: 50%;
//       height: 30%; width: 90%;
//       margin: -15% 0 0 -45%;
//       & * {
//         margin-top: 10px;
//         margin-bottom: 10px;
//       }
//       // .shopify-section-banner__main__heading {
        
//       // }
      
//       // .shopify-section-banner__main__text {
        
//       // }
//       .shopify-section-banner__main__button {
        
//         padding: 15px 25px;
//         background-color: white;
//         color: $color-main-green;
//         border: 3px solid $color-main-green;
//       }
//     }    
//   }
//   .shopify-section-banner__secondary {  // image
//     line-height: 550px;
//     .shopify-section-banner__secondary__image {
      
//       vertical-align: bottom;
//     }
//   }
// }