{% section 'page-title' %}
<div class="membership-page">
  <section class="membership-page__section">
    <div class="container">
      <div class="grid">
        <div class="grid__item one-half">
          <div class="membership-page__section__text-wrapper">
            <h1>Benefits for Members</h1>
            <ul>
              <li>The primary benefit of joining is reduced prescription prices</li>
              <li>As a member, you have access to 50% cheaper medications on average</li>
              <li>Free home delivery anywhere in Ireland*</li>
              <li>24 hour Blood Pressure monitoring service</li>
            </ul>
            <br>
            <h3>What kind of savings can I make?</h3>
            <p>A typical member saves between €200 and €500 per year.</p>
            <p>Some members have even saved up to €100 per month (€1200 per year).</p>
            <p>Savings depend on the type and number of medications you take. We will happily price your prescriptions via phone
              at 016853086 or email.</p>
          </div>
        </div>
        <div class="grid__item one-half">
          <img src="{{ 'family-group.png' | asset_img_url: '350x', scale: 3 }}" />
        </div>
      </div>
    </div>
  </section>
  <section class="membership-page__section">
    <div class="container">
      <div class="grid">
        <div class="grid__item one-half">
          <img src="{{ 'bp-monitoring.png' | asset_img_url: '550x', scale: 3 }}" />
        </div>
        <div class="grid__item one-half">
          <div class="membership-page__section__text-wrapper">
            <h2>24-Hour BP Monitoring</h2>
            <p>Members can avail of Healthwave’s blood pressure monitoring service for only €25.</p>
            <h5>Why 24-hour BPM?</h5>
            <ul>
              <li>Medical best practice would advise that it is more accurate to measure blood pressure over 24 hours than in
                a single measurement at home or at your Doctor’s</li>
              <li>Shows how your blood pressure changes throughout the day and especially at night</li>
              <li>Identifies when a “morning surge” in blood pressure is evident</li>
              <li>Helps you and your doctor to see your response to and the effectiveness of your blood pressure medication</li>
            </ul>
            <br>
            <h5>How does it work?</h5>
            <ul>
              <li>You wear a small device on your waist connected to a cuff on your arm for 24 hours.</li>
              <li>Measurements are taken every 30 minutes during the day and night.</li>
              <li>Normal daily activities are not affected.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="membership-page__section">
    <div class="container">
      <div class="grid">
        <div class="grid__item one-half">
          <div class="membership-page__section__text-wrapper">
            <h1>Free Prescription Delivery</h1>
            <h3>How it works:</h3>
            <ol>
              <li>Call into store for a pharmacist consultation and leave your prescription with us</li>
              <li>Reorder repeat prescriptions by phone, email or SMS</li>
              <li>Medication will be dispatched the next day</li>
              <li>Our pharmacists will follow up with a phone consultation</li>
            </ol>
            <br>
            <h3>Restrictions:</h3>
            <ul>
              <li>Deliveries only take place Monday to Friday (orders placed on Friday are delivered on the following Monday
                or Tuesday).</li>
              <li>We cannot deliver items that require refrigeration at this time</li>
              <li>Healthwave members have 6 FREE deliveries per year. A charge of €5 applies thereafter.</li>
            </ul>
            <p>Read our delivery terms and conditions here.</p>
          </div>
        </div>
        <div class="grid__item one-half">
          <img src="{{ 'family-group.png' | asset_img_url: '550x', scale: 3 }}" />
        </div>
      </div>
    </div>
  </section>
  <section class="membership-page__section">
    <div class="container">
      <div class="grid">
        <div class="grid__item one-half">
          <img src="{{ 'pharmacist-shelf.png' | asset_img_url: '350x', scale: 3 }}" />
        </div>
        <div class="grid__item one-half">
          <div class="membership-page__section__text-wrapper">
            <h1>Mobile Pharmacist Service</h1>
            <br>
            <h4>Our pharmacists come to you!</h4>
            <p>Healthwave has a team of mobile pharmacists available to call to your home if you are unable to attend our pharmacy
              in Dundrum.</p>
            <p>The service is the first of its kind in Ireland.</p>
            <p>If you have registered with Healthwave and need to get your medication, booking a home visit may be the easiest
              option for you.</p>
            <p>Our mobile pharmacist will call to your home at a convenient time and collect your prescription. Your medication
              will then be dispatched to you the next day.</p>
            <p>To book an appointment with one of our mobile pharmacists, simply call us on 01 684 3086</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% section 'membership-section' %}
</div>
