<div class="ASO__wrapper">
  <div class="container">
    <div class="text-center">
      <h1 class="ASO__title">As Seen On</h1>
    </div>
    <div class="ASO__thumbs grid">
      <div class="grid__item one-quarter">
      test
      </div>
      <div class="grid__item one-quarter">
      test
      </div>
      <div class="grid__item one-quarter">
      test
      </div>
      <div class="grid__item one-quarter">
      test
      </div>
    </div>
  </div>
</div>

<style>
.ASO__wrapper {
  height: 450px;
  width: 100vw;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: white;
}

h1.ASO__title {
}
</style>