<div class="form-group">
  <label for="cardNumber">CARD NUMBER</label>
  <div class="input-group mb-3">
    <input type="tel" class="form-control" name="cardNumber" placeholder="Valid Card Number" autocomplete="cc-number"
      aria-describedby="button-addon2">
    <div class="input-group-append">
      <span class="input-group-text" id="button-addon2"><i class="far fa-credit-card"></i></span>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-7 col-md-7">
      <div class="form-group">
        <label for="cardExpiry"><span class="hidden-xs">EXPIRATION</span><span class="visible-xs-inline">EXP</span>
          DATE</label>
        <input type="tel" class="form-control" name="cardExpiry" placeholder="MM / YY" autocomplete="cc-exp" required />
      </div>
    </div>
    <div class="col-xs-5 col-md-5 pull-right">
      <div class="form-group">
        <label for="cardCVC">CV CODE</label>
        <input type="tel" class="form-control" name="cardCVC" placeholder="CVC" autocomplete="cc-csc" required />
      </div>
    </div>
  </div>
</div>