<div id="snippet-banner-pharmacists" style="background-color:#00BFB3">
  <div class="container">
    <div class="row">
      <div class="banner-pharmacists__main col-lg-7">
        <div class="banner-pharmacists__main__wrapper">
          <h1 class="banner-pharmacists__main__wrapper__heading" style="color:white!important">Our team of certified pharmacists are here for you!</h1>
          <br>
          <button class="banner-pharmacists__button btn btn-lg">Contact us</button> {%- comment -%}This button has the class of the home-banner button for styling purposes{%- endcomment -%}
        </div>
      </div>
      <div class="banner-pharmacists__secondary col-lg-5">
      <div class="banner-pharmacists__secondary col-lg-5 order-md-2">
        <picture id="pharmacists" class="banner-pharmacists__secondary__image">
          <!--[if IE 9]><video style="display: none;"><![endif]-->
          <source
            srcset="{{ 'pharmacists.png' | asset_img_url: '400x', scale: 3 }}"
            media="(min-width: 992px)"
            alt="Pharmacists"
          >
          <source
            srcset="{{ 'pharmacists.png' | asset_img_url: '200x', scale: 3 }}"
            media="(min-width: 500px)"
            alt="Pharmacists">
          <source
            srcset="{{ 'pharmacists.png' | asset_img_url: 'medium', scale: 2 }}"
            media="(max-width: 499px)"
            alt="Pharmacists"
          >
          <!--[if IE 9]></video><![endif]-->
          <img
          src={{ 'pharmacists.png' | asset_img_url: 'medium', scale: 3 }}
          alt="Pharmacists"
          >
        </picture>
      </div>
    </div>
  </div>
</div>


