<div id="snippet-banner-pharmacists" style="background-color:#00BFB3">
  <div class="container">
    <div class="row">
      <div class="banner-pharmacists__main col-lg-7">
        <div class="banner-pharmacists__main__wrapper">
          <h1 class="banner-pharmacists__main__wrapper__heading" style="color:white!important">Our team of certified pharmacists are here for you!</h1>
          <br>
          <button class="banner-pharmacists__button btn btn-lg">Contact us</button> {%- comment -%}This button has the class of the home-banner button for styling purposes{%- endcomment -%}
        </div>
      </div>
      <div class="banner-pharmacists__secondary col-lg-5">
        <img
            id="pharmacists"
            class="banner-pharmacists__secondary__image"
            src="{{ 'pharmacists.png' | asset_img_url: '250x' }}"
            />
      </div>
    </div>
  </div>
</div>