<table id="table_id" class="table table-borderless">
  <thead>
    <tr>
      <th style="width: 42.5%" scope="col">First name</th>
      <th style="width: 42.5%" scope="col">Last name</th>
      <th scope="col">date of birth</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
<button id="addMember" class="btn btn-primary">Add a member</button>
