<div class="offer-wrapper mx-auto">
  <h2 class="offer-title text-center">Introductory Offer</h2>
  <p class="offer-text">Join before 31st Dec and Healthwave will cover the first €20 for your 3 first consecutive
    orders.</p>
</div>
