{% form 'create_customer', class:'garda-registration-form' %}
  <!-- Page 1 Verification information-->
  {{ form.errors | default_errors }}
  <fieldset class="tab">
    <div class="text-box">
      <p>Welcome to the Healthwave Garda Medical Aid portal.</p>
      <p>Register your family using the form on this page and enjoy the benefits of the Healthwave service.</p>
      <p>Once we have verified your plan you can start ordering prescriptions for home delivery.</p>
    </div>
    <h3 class="tab-title">Verification information</h3>
    <div class="form-group">
      <div class="form-row">
        <div class="col-md-6">
          <label for="inputFn">{{ 'customer.register.first_name' | t }}</label>
          <input {% if form.fist_name %} value="{{ form.first_name }}"{% endif %}
            autocomplete
            autofocus
            class="form-control"
            id="inputFirstName"
            name="customer[first_name]"
            onchange="checkFirstName(this)"
            oninput="this.className = 'form-control'"
            pattern="[A-Za-z]{2,}"
            placeholder="First name..."
            required
            type="text"
          >
          <span id="firstNameErrorMessage">Please, enter your first name.</span>
        </div>
        <div class="col-md-6 mt-3 mt-md-0">
          <label for="inputLn">Last name</label>
          <input {% if form.last_name %} value="{{ form.last_name }}"{% endif %}
            autocomplete
            class="form-control"
            id="inputLastName"
            name="customer[last_name]"
            onchange="checkLastName(this)"
            oninput="this.className = 'form-control'"
            pattern="[A-Za-z]{2,}"
            placeholder="Last name..."
            required
            type="text"
          >
          <span id="lastNameErrorMessage">Please, enter your last name.</span>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="form-row">
        <div class="col-md-6">
          <label for="policyField">Your policy number</label>
          <input
            oninput="this.className = 'form-control'"
            onchange="checkPolicy(this)"
            class="form-control"
            id="inputPolicy"
            name="customer[note][garda-policy-number]"
            pattern="[0-9]{5}[A-Za-z]$"
            placeholder="Policy number..."
            required
            type="text"
          >
          <span id="policyErrorMessage">You need to enter a valid policy number.</span>
        </div>
        <div class="col-md-6 mt-3 mt-md-0">
          <label for="">Date of birth</label>
          <input
            oninput="this.className = 'form-control'"
            onchange="validateAge(this)"
            autocomplete
            class="form-control"
            id="inputDOB"
            max="2018-12-31"
            min="1900-01-01"
            name="customer[note][DOB]"
            pattern="(?:19|20)[0-9]{2}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-9])|(?:(?!02)(?:0[1-9]|1[0-2])-(?:30))|(?:(?:0[13578]|1[02])-31))"
            placeholder="DD/MM/YYYY..."
            required
            type="date"
          >
          <span id="ageErrorMessage">You must be 18 or older to subscribe to Healthwave.</span>
        </div>
      </div>
    </div>
  </fieldset>

  <!-- Page 2 Your Account-->
  <fieldset class="tab">
    <br>
    <h3 class="tab-title">Your account</h3>
    <br>
    <div class="form-group">
      <label for="inputAddress1">Address</label>
      <input
        autocomplete
        class="form-control"
        data-custom-attribute="focused-field"
        id="inputAddress1"
        name="customer_address.address1"
        onchange="checkAddress(this)"
        oninput="this.className = 'form-control'"
        pattern="[0-9A-Za-z\s]{2,}"
        placeholder="Line 1..."
        required
        type="text"
      >
      <span id="addressErrorMessage">Please, enter a valid address.</span>
    </div>
    <div class="form-group">
      <label for="inputAddress2">Address 2</label>
      <input
        autocomplete
        class="form-control disableValidation"
        id="inputAddress2"
        name="address2"
        placeholder="(optional)"
        type="text"
      >
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputCity">City</label>
        <input
          autocomplete
          class="form-control"
          id="inputCity"
          name="city"
          onchange="checkCity(this)"
          oninput="this.className = 'form-control'"
          pattern="[A-Za-z\s]{1,}"
          required
          type="text"
        >
        <span id="cityErrorMessage">Please, enter a valid city/town name.</span>
      </div>
      <div class="form-group col-md-4">
        <label for="inputCounty">County</label>
        <select
          autocomplete
          class="form-control"
          id="inputCounty"
          name="county"
          required
        >
          <option disabled selected value> -- select an option -- </option>
          <option value="Antrim">Antrim</option>
          <option value="Armagh">Armagh</option>
          <option value="Carlow">Carlow</option>
          <option value="Cavan">Cavan</option>
          <option value="Clare">Clare</option>
          <option value="Cork">Cork</option>
          <option value="Derry">Derry</option>
          <option value="Donegal">Donegal</option>
          <option value="Down">Down</option>
          <option value="Dublin">Dublin</option>
          <option value="Fermanagh">Fermanagh</option>
          <option value="Galway">Galway</option>
          <option value="Kerry">Kerry</option>
          <option value="Kildare">Kildare</option>
          <option value="Kilkenny">Kilkenny</option>
          <option value="Laois">Laois</option>
          <option value="Leitrim">Leitrim</option>
          <option value="Limerick">Limerick</option>
          <option value="Longford">Longford</option>
          <option value="Louth">Louth</option>
          <option value="Mayo">Mayo</option>
          <option value="Meath">Meath</option>
          <option value="Monaghan">Monaghan</option>
          <option value="Offaly">Offaly</option>
          <option value="Roscommon">Roscommon</option>
          <option value="Sligo">Sligo</option>
          <option value="Tipperary">Tipperary</option>
          <option value="Tyrone">Tyrone</option>
          <option value="Waterford">Waterford</option>
          <option value="Westmeath">Westmeath</option>
          <option value="Wexford">Wexford</option>
          <option value="Wicklow">Wicklow</option>
        </select>
      </div>
      <div class="form-group col-md-2">
        <label for="inputEircode">Eircode</label>
        <input
          oninput="this.className = 'form-control'"
          id="inputEircode"
          class="form-control"
          type="text"
          name="eircode"
        >
      </div>
    </div>
    <div class="form-group">
      <label for="inputPhone">Phone number</label>
      <input
        id="inputPhone"
        oninput="this.className = 'form-control'"
        class="form-control"
        type="tel"
        name="phonenumber"
        minlength="9"
        maxlenght="10"
        pattern="[0-9]"
        required
      >
    </div>
    <div class="form-group">
      <div class="form-row">
        <div class="col-md-6">
          <label for="">Enter your email</label>
          <input
            class="form-control"
            id="inputEmail"
            name="email"
            onchange="checkEmail(this)"
            oninput="this.className = 'form-control'"
            pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
            placeholder="Email..."
            required
            type="email"
          >
          <span id="emailErrorMessage">Please, enter a valid email address.</span>
        </div>
        <div class="col-md-6">
          <label for="">Confirm your email</label>
          <input
            class="form-control"
            id="confirmEmail"
            name="confirmemail"
            onchange="checkEmailMatch(this)"
            oninput="this.className = 'form-control'"
            placeholder="Email..."
            required
            type="email"
          >
          <span id="confEmailErrorMessage">The email address you entered doesn't match.</span>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="form-row">
        <div class="col-md-6">
          <label for="inputPassword">Create your password</label>
          <input
            class="form-control"
            id="inputPassword"
            minlength="8"
            name="password"
            onchange="checkPwd(this)"
            oninput="this.className = 'form-control'"
            required
            title="Please include at least 1 uppercase character, 1 lowercase character, and 1 number. Must be at least 6 characters long."
            type="password"
          >
          <span id="pwdErrorMessage">Please include at least 1 uppercase character, 1 lowercase character, and 1
            number. Must be at least 6 characters long.</span>
        </div>
        <div class="col-md-6">
          <label for="inputPassword">Confirm your password</label>
          <input
            class="form-control"
            id="confirmPassword"
            onchange="checkPwdMatch(this)"
            oninput="this.className = 'form-control'"
            required
            type="password"
          >
          <span id="confPwdErrorMessage">Your 2 passwords are not matching</span>
        </div>
      </div>
    </div>
  </fieldset>

  <!-- Page 3 Add Members -->
  <fieldset class="tab">
    <br>
    <h3 class="tab-title">Add members</h3>
    <br>
    <div class="text-box">
      <p>You can add family members that are part of your Garda Medical Aid plan here.</p>
      <p>Children in full-time education up to the age of 23 will also come under your family's Drugs Payment Scheme</p>
    </div>
    <br>
    {% include 'extra-member-table' %}
  </fieldset>

  <!-- Page 4 Payment Information-->
  <fieldset class="tab">
    <h3 class="tab-title">Add payment method</h3>
    <br>
    <div class="text-box">
      <p>You can add a payment method to your account to save you calling it out over the phone with every order.</p>
      <p>Placing a card on file also enable you to use our “automatic refill” service where we send your medicines out each month automatically.</p>
      <p>All card details are stored securely using Stripe.</p>
    </div>
    <br>
    <div class="form-group form-check">
      <input
        onclick="hideCardForm()"
        class="form-check-input"
        type="radio"
        id="skipPaymentMethod"
        name="add-payment"
        required
      >
      <label class="form-check-label" for="skipPaymentMethod">Skip this step for now</label>
    </div>
    <div class="form-group form-check">
      <input onclick="showCardForm()" class="form-check-input" type="radio" id="addPaymentMethod" name="add-payment" required>
      <label class="form-check-label" for="addPaymentMethod">Add a credit or debit card</label>
    </div>
    <div id="card-form">
      {% include 'stripe-card-form' %}
    </div>
  </fieldset>

  <!-- Page 5 Pharmacist meeting -->
  <fieldset class="tab">
    <br>
    <h3 class="tab-title">Pharmacist meeting</h3>
    <br>
    <div class="text-box">
      <p>The final step in activating your account is to meet one of our pharmacists.</p>
      <p>This can be done by calling into our Dundrum store or by booking a home visit.</p>
    </div>
    <br>
    <div class="form-row">
      <div class="col">
        <label class="checkout-radio-wrapper" for="">
          <input
            id="checkoutPhoneCall"
            name="checkoutOption"
            onclick="validateCheckoutOption()"
            type="radio"
          >
          <span class="checkmark">
            <i class="fas fa-phone"></i>
          </span>
          <p  class="checkoutOption-text">Phone call</p>
        </label>
      </div>
      <div class="col">
        <label class="checkout-radio-wrapper" for="">
          <input
            id="checkoutInStore"
            name="checkoutOption"
            onclick="validateCheckoutOption()"
            type="radio"
          >
          <span class="checkmark">
            <i class="fas fa-store"></i>
          </span>
          <p class="checkoutOption-text">In store</p>
        </label>
      </div>
      <div class="col">
        <label class="checkout-radio-wrapper" for="">
          <input
            id="checkoutVisit"
            name="checkoutOption"
            onclick="validateCheckoutOption()"
            type="radio"
          >
          <span class="checkmark">
            <i class="fas fa-user-md"></i>
          </span>
        <p class="checkoutOption-text">Home visit (€25)</p>
        </label>
      </div>
    </div>
  </fieldset>

  <!-- Page 6 / "Review" -->
  <fieldset class="tab">
    <br>
    <h3 class="tab-title">Review your information.</h3>
    <br>
    <br>
    <div class="container">
      <ul class="list-group">
        <li id="providedName" class="list-group-item list-group-item-action list-group-item-success"></li>
        <li id="providedPolicy" class="list-group-item list-group-item-action list-group-item-success"></li>
        <li id="providedDOB" class="list-group-item list-group-item-action list-group-item-success"></li>
        <li id="providedEmail" class="list-group-item list-group-item-action list-group-item-success"></li>
        <li id="providedAddress" class="list-group-item list-group-item-action list-group-item-success"></li>
      </ul>
      <div class="toc-wrapper">
        <div class="form-group">
          <input
            type="checkbox"
            name="checkbox"
            value="check"
            id="inputTermsAndConditions"
            required
            onchange="handleTermsAndConditions(this)"
          >  I have read and agree to the Terms and Conditions and Privacy Policy
        </div>
      </div>
    </div>
    <br>
  </fieldset>

  <!--           Previous / Next Buttons -->
  <div style="overflow:auto;text-align:center;">
    <div class="mx-auto button-wrapper">
      <button class="btn btn-primary-outline mb-2 mb-md-0" type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
      <button class="btn btn-primary mt-2 mt-md-0" type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
    </div>
  </div>

  <!-- Circles that indicate progress -->
  <div class="steps-wrapper" style="text-align:center">
    <span class="step"></span>
    <span class="step"></span>
    <span class="step"></span>
    <span class="step"></span>
    <span class="step"></span>
    <span class="step"></span>
  </div>
  <!-- END Form -->
{% endform %}
