<div class="page-title-banner">
  <div class="container" id="parent">
  	<div class="page-title-banner__title" id="child">
      <h1>Store</h1>
    </div>
  </div>
</div>

<style>
  #shopify-section-page-title-product {
    margin-top: 120px;
  }
  #shopify-section-page-title-product {
    margin-top: 120px;
  }
  #shopify-section-page-title-product .page-title-banner {
    height: 100px;
    background-color: white;
    color: white;
  }
  #parent {display: table;}
  #child {
    color: #00BFB3;
    display: inline-block;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }
</style>