{% comment %} Gardai registration page {% endcomment %}

<div id="registration-page-garda">
  <!-- Page container -->
  <div class="container">
    <!--   main row -->
    <div class="wrapper mx-auto">
      <div class="row">
        <!--     Sidebar displaying full screen on mobiles, 3/12 on tablets, 2/12 on large screens -->
        <aside class="sidebar col-md-4 col-lg-3">
          <div class="container">
            <img class="img-fluid" id="garda-logo" src="https://res.cloudinary.com/djr6sgsbd/image/upload/v1536673778/garda-vetting.png"
              alt="">
            <div class="welcome-text">
              <p>Welcome to the Healthwave Garda Medical Aid portal.</p>
              <p>Register your family using the form on this page and enjoy the benefits of the Healthwave service.</p>
              <p>Once we have verified your plan you can start ordering prescriptions for home delivery.</p>
            </div>
          </div>
        </aside>
        <!-- main form wrapper column -->
        <main class="form-wrapper col-md-8 col-lg-9">
          <!-- Form -->
          <div class="container">

            <form action="" id="registration-form">
              <!-- TITLE -->
              <h1 class="title">Create your Healthwave account</h1>

              <!-- Page 1 Verification information-->
              <section class="tab">
                <br>
                <h4>Verification information</h4>
                <br>
                <div class="form-group">
                  <div class="form-row">
                    <div class="col">
                      <label for="inputFn">First name</label>
                      <input id="inputFn" class="form-control" type="text" placeholder="First name..." oninput="this.className = 'form-control'"
                        required>
                    </div>
                    <div class="col">
                      <label for="inputLn">Last name</label>
                      <input class="form-control" type="text" placeholder="Last name..." oninput="this.className = 'form-control'"
                        required>
                    </div>
                  </div>
                </div>
                <br>
                <div class="form-group">
                  <div class="form-row">
                    <div class="col">
                      <label for="policyField">Your policy number</label>
                      <input id="policyField" class="form-control" type="text" placeholder="Policy number..." oninput="this.className = 'form-control'"
                        onChange="checkPolicy()" required>
                      <span class="errorMessage">You need to enter a valid policy number</span>
                    </div>
                    <div class="col">
                      <label for="">Date of birth</label>
                      <input id="inputDOB" class="form-control" type="date" placeholder="Date of birth" oninput="this.className = 'form-control'"
                        min="1900-01-01" max="2018-12-31" required>
                      <span id="ageErrorMessage">You must be 18 or older to subscribe to Healthwave</span>
                    </div>
                  </div>
                </div>
              </section>

              <!-- Page 2 Your Account-->
              <section class="tab">
                <br>
                <h4>Your account</h4>
                <br>
                <div class="form-group">
                  <label for="">Address</label>
                  <p><input class="form-control" type="text" placeholder="Line 1..." oninput="this.className = 'form-control'"
                      required></p>
                  <p><input class="form-control" type="text" placeholder="Line 2 (optional)" oninput="this.className = 'form-control'"></p>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="inputCity">City</label>
                    <input type="text" class="form-control" id="inputCity">
                  </div>
                  <div class="form-group col-md-4">
                    <label for="inputState">County</label>
                    <select id="inputCounty" class="form-control">
                      <option value="County" selected>Antrim</option>
                      <option value="County">Armagh</option>
                      <option value="County">Carlow</option>
                      <option value="County">Cavan</option>
                      <option value="County">Clare</option>
                      <option value="County">Cork</option>
                      <option value="County">Derry</option>
                      <option value="County">Donegal</option>
                      <option value="County">Down</option>
                      <option value="County">Dublin</option>
                      <option value="County">Fermanagh</option>
                      <option value="County">Galway</option>
                      <option>Kerry</option>
                      <option>Kildare</option>
                      <option>Kilkenny</option>
                      <option>Laois</option>
                      <option>Leitrim</option>
                      <option>Limerick</option>
                      <option>Longford</option>
                      <option>Louth</option>
                      <option>Mayo</option>
                      <option>Meath</option>
                      <option>Monaghan</option>
                      <option>Offaly</option>
                      <option>Roscommon</option>
                      <option>Sligo</option>
                      <option>Tipperary</option>
                      <option>Tyrone</option>
                      <option>Waterford</option>
                      <option>Westmeath</option>
                      <option>Wexford</option>
                      <option>Wicklow</option>
                    </select>
                  </div>
                  <div class="form-group col-md-2">
                    <label for="inputZip">Eircode</label>
                    <input type="text" class="form-control" id="inputZip">
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputPhone">Phone number</label>
                  <input type="tel" name="" id="">
                </div>
                <div class="form-group">
                  <div class="form-row">
                    <div class="col">
                      <label for="">Enter your email</label>
                      <input id="inputEmail" class="form-control" type="email" placeholder="Email..." oninput="this.className = 'form-control'">
                    </div>
                    <div class="col">
                      <label for="">Confirm your email</label>
                      <input id="confirmEmail" class="form-control" type="email" placeholder="Email..." oninput="this.className = 'form-control'">
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="form-row">
                    <div class="col">
                      <label for="inputPassword">Create your password</label>
                      <input id="inputPassword" type="password" class="form-control">
                    </div>
                    <div class="col">
                      <label for="inputPassword">Confirm your password</label>
                      <input id="confirmPassword" type="password" class="form-control">
                      <span id="passwordNotMatchingErrorMsg">Your 2 passwords are not matching</span>
                    </div>
                  </div>
                </div>
              </section>

              <!-- Page 3 Add Members -->
              <section class="tab">
                <h4>Add members</h4><span>(1 partner, up to 4 children)</span>
                <ul class="memberInputForms">
                  <p>Extra member 1</p>
                  <li>
                    <p><input class="form-control" type="text" placeholder="First name..." oninput="this.className = ''"></p>
                    <p><input class="form-control" type="text" placeholder="Last name..." oninput="this.className = ''"></p>
                    <p><input class="form-control" type="date" placeholder="Date of birth" oninput="this.className = ''"></p>
                  </li>
                </ul>
                <button class="removeMemberButton btn btn-secondary">- 1 member</button>
                <button class="addMemberButton btn btn-primary">+ 1 member</button>
              </section>

              <!-- Page 4 Payment Information-->
              <section class="tab">
                <h4>Add payment method</h4>
                <div class="form-group form-check">
                  <input class="form-check-input" type="checkbox" id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1">Skip this step for now</label>
                </div>
                <div class="form-group">

                  <label for="cardNumber">CARD NUMBER</label>
                  <div class="input-group mb-3">
                    <input type="tel" class="form-control" name="cardNumber" placeholder="Valid Card Number"
                      autocomplete="cc-number" aria-describedby="button-addon2">
                    <div class="input-group-append">
                      <span class="input-group-text" id="button-addon2"><i class="far fa-credit-card"></i></span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-7 col-md-7">
                      <div class="form-group">
                        <label for="cardExpiry"><span class="hidden-xs">EXPIRATION</span><span class="visible-xs-inline">EXP</span>
                          DATE</label>
                        <input type="tel" class="form-control" name="cardExpiry" placeholder="MM / YY" autocomplete="cc-exp"
                          required />
                      </div>
                    </div>
                    <div class="col-xs-5 col-md-5 pull-right">
                      <div class="form-group">
                        <label for="cardCVC">CV CODE</label>
                        <input type="tel" class="form-control" name="cardCVC" placeholder="CVC" autocomplete="cc-csc"
                          required />
                      </div>
                    </div>
                  </div>

                </div>
              </section>

              <!-- Page 5 Pharmacist meeting -->
              <section class="tab">
                <h4>Pharmacist meeting</h4>
                <div class="btn-group btn-group-lg" role="group" aria-label="...">
                  <button class="btn btn-primary">Call in store</button>
                  <button class="btn brn-secondary">House call <span>(€25)</span></button>
                </div>

              </section>

              <!-- Page 6 / "Registration complete!" -->
              <section class="tab">
                <h4>Registration is complete!</h4>
                <p>You should soon receive an email confirmation</p>
                <div>
                  <i class="far fa-check-circle"></i>
                </div>
              </section>

              <!--           Previous / Next Buttons -->
              <div style="overflow:auto;text-align:center;">
                <div class="mx-auto button-wrapper">
                  <button class="btn btn-primary-outline" type="button" id="prevBtn" onclick="nextPrev(-1)" style="width:200px;">Previous</button>
                  <button class="btn btn-primary" type="button" id="nextBtn" onclick="nextPrev(1)" style="width:200px;">Next</button>
                </div>
              </div>

              <!-- Circles that indicate progress -->
              <div class="steps-wrapper" style="text-align:center">
                <span class="step"></span>
                <span class="step"></span>
                <span class="step"></span>
                <span class="step"></span>
                <span class="step"></span>
              </div>
              <!-- END Form -->
            </form>
            <!--     END main form wrapper column -->

          </div>
        </main>
        <!--   END main row -->
      </div>
    </div>
  </div>
  <!--  END Page container -->
</div>