<div class="form-wrapper mx-auto" style="width:700px">
{% form 'create_customer' onsubmit:"log()"%}

  {{ form.errors | default_errors }}

  {% if form.posted_succesfully %}
    <p class="alert alert-success">Form posted successfully</p>
  {% endif %}

  <label for="first_name">First Name</label>
  <input class="form-control" type="text" value="" name="customer[first_name]" size="30" />

  <label for="last_name">Last Name</label>
  <input class="form-control" type="text" value="" name="customer[last_name]" size="30" />

  <label for="email">Email Address</label>
  <input
    autocapitalize="off"
    autocorrect="off"
    class="form-control"
    name="customer[email]"
    size="30"
    type="email"
    value=""
  />

  <label for="password">Password</label>
  <input class="form-control" type="password" value="" name="customer[password]" size="30" />

  <input type="submit" value="Create" />

{% endform %}
</div>


<script>
function log () {
  console.log("form submitted")
}
/** document.querySelector("#create_customer").onSubmit()
  (function submitForm() {
    const fullName = $("#inputFirstName").val() + " " + $("#inputLastName").val();
    const dataToSend = JSON.stringify({
      email: $("#inputEmail").val(),
      full_name: fullName,
      first_name: $("#inputFirstName").val(),
      membership_id: "09876R"
    });
    $.ajax({
        url: 'https://sandbox.healthwave.ie/webhook/registration_email_garda.php',
        type: POST,
        data: dataToSend
      })
      .done(() => {
        setTimeout(() => {
          console.log("success!")
        }, 600)
      })
      .fail(() => {
        alert("error");
      })
      .always(() => {
        console.log("done")
      });
  })(); **/
</script>

create_customer
