<div id="registration-page-garda">
  <div id="container-mobile" class="container">
    <main class="form-wrapper mx-auto">
      <div class="container">
        <div class="logo-wrapper mx-auto mt-3">
          <img
            class="img-fluid"
            alt="Garda Logo"
            src="https://res.cloudinary.com/djr6sgsbd/image/upload/v1538567178/st-pauls-garda-logo.png"
            style="height:100px;"
          >
        </div>
        {% include 'garda-registration-form' %}
      </div>
    </main>
  </div>
</div>
<div class="loading-overlay"></div>
<div class="registration-success">
  <div class="container">
    <div class="wrapper mx-auto" style="width:300px;">
      <i id="success-icon" class="far fa-check-circle"></i>
      <br>
      <p>Congratulations!</p>
      <p>Your Healthwave account was created. Check your inbox!</p>
      <br>
      <a href="https://shop.healthwave.ie">
        <button class="btn btn-primary">Back to homepage</button>
      </a>
    </div>
  </div>
</div>
