<div id="registration-page-garda">
  <!-- Page container -->
  <div class="container">
    <!--   main row -->
    <div class="wrapper mx-auto">
      <div class="row">
        <!--     Sidebar displaying full screen on mobiles, 3/12 on tablets, 2/12 on large screens -->
        <aside class="sidebar col-md-4 col-lg-3">
          <div class="container">
            <img class="img-fluid" id="garda-logo" src="https://res.cloudinary.com/djr6sgsbd/image/upload/v1536673778/garda-vetting.png"
              alt="">
            <div class="welcome-text">
              <p>Welcome to the Healthwave Garda Medical Aid portal.</p>
              <p>Register your family using the form on this page and enjoy the benefits of the Healthwave service.</p>
              <p>Once we have verified your plan you can start ordering prescriptions for home delivery.</p>
            </div>
          </div>
        </aside>
        <!-- main form wrapper column -->
        <main class="form-wrapper col-md-8 col-lg-9">
          <!-- Form -->
          <div class="container">

            {% include 'garda-registration-form' %}
            <!--     END main form wrapper column -->

          </div>
        </main>
        <!--   END main row -->
      </div>
    </div>
  </div>
  <!--  END Page container -->
</div>