<div class="container">
  <div class="mt-3 form-group"> {%- comment -%}Using mt-3 spacing from Bootstrap to push the search field down{%- endcomment -%}
    <form action="/search"
      method="get"
      class="search-header search"
      role="search">
      <input class="form-control search-header__input search__input"
        type="search"
        name="q"
        placeholder="{{ 'general.search.placeholder' | t }}"
        aria-label="{{ 'general.search.placeholder' | t }}">
      <noscript>
        <button class="search-header__submit search__submit btn--link"
          type="submit">
          {% include 'icon-search' %}
          <span class="icon__fallback-text">{{ 'general.search.submit' | t }}</span>
        </button>
      </noscript>
    </form>
  </div>
</div>