{% comment %} this snippet is used as a spacing utility to create a top margin {% endcomment %}
<div style="margin-top:89px;background-color:hotpink;"></div>
{% comment %} the 89px value represents the heigt + padding + border of the navigation bar {% endcomment %}