<div id="test-snippet">
  <div class="container">
    <div class="img-wrapper">
      <img
        src="https://res.cloudinary.com/djr6sgsbd/image/upload/v1529673569/IMG_6600.png"
        alt=""
        class="img-mobile"
      >
      <img
        src="https://res.cloudinary.com/djr6sgsbd/image/upload/v1523958374/shutterstock_420534874_3x.png"
        alt=""
        class="img-tablet"
      >
      <img
        src="https://res.cloudinary.com/djr6sgsbd/image/upload/v1529673564/IMG_6596.jpg"
        alt=""
        class="img-desktop"
      >
    </div>
  </div>
</div>