<div id="test-snippet2">
  <div class="container">
    <div class="img-wrapper">
      <picture>
        <!--[if IE 9]><video style="display: none;"><![endif]-->
        <source srcset="https://res.cloudinary.com/djr6sgsbd/image/upload/v1529673564/IMG_6596.jpg" media="(min-width: 992px)">
        <source srcset="https://res.cloudinary.com/djr6sgsbd/image/upload/v1523958374/shutterstock_420534874_3x.png" media="(min-width: 500px)">
        <!--[if IE 9]></video><![endif]-->
        <img src="https://res.cloudinary.com/djr6sgsbd/image/upload/v1529673569/IMG_6600.png" alt="MDN">
      </picture>
    </div>
  </div>
</div>