//*******************************************
//***          3 STEPS - SECTION     ***
// ******************************************


#shopify-section-3-steps {
  .shopify-section-3-steps {
    padding-top: 1em;
    height: 450px;
    .shopify-section-3-steps__main__wrapper__heading {
      @include text-heading-mobile(2rem);
    }
    .shopify-section-3-steps__main__wrapper__text {
      @include text-regular-mobile;
    }
    .shopify-section-3-steps__secondary {
      #img-1 {
        @include center-block;
        width: 230px;
        content: url('https://res.cloudinary.com/djr6sgsbd/image/upload/v1524059692/sms-transparent.png');
      }
      #img-2 {
        @include center-block;
        width: 230px;
      }
      #img-3 {
        @include center-block;
        width: 230px;
      }
    }
  }
}


@media only screen and (min-width: 500px) {
  #shopify-section-3-steps {
    .shopify-section-3-steps__secondary {
      #img-1 {
        @include center-block;
        width: 230px;
        content: normal;
      }
    }
  }
}






// .shopify-section-3-steps {
//   height: 450px;
//   .shopify-section-3-steps__main {
//     display: flex;
//     align-items: center;
//     .shopify-section-3-steps__main__wrapper {
//       .shopify-section-3-steps__main__wrapper__heading {
//         @include text-heading;
//       }
//       .shopify-section-3-steps__main__wrapper__text {
//         @include text-regular;
//       }
//     }
//   }
//   .shopify-section-3-steps__secondary {
//     display: none;
//   }
// }


// @media only screen and (min-width: 993px) {
//   .shopify-section-3-steps {
//     height: 550px;
//     .shopify-section-3-steps__secondary {
//       display: flex;
//       .shopify-section-3-steps__secondary__image {
//         max-height: 480px;
//         width: auto;
//         display: block;
//         margin: auto;
//       }
//     }
//   }
// }
