#shopify-section-footer {
  background-color: $color-footer-bg-grey;
  footer.shopify-section-footer {
    padding-bottom: 3rem;
    padding-top: 3rem;
    width: 100vw;
    section {
      margin-bottom: 20px;
      margin-top: 20px;
      text-align: center;
    }
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }
    span.column-title {
      font-size: 24px;
      font-weight: 200;
      color: $color-main-green;
    }
    li.column-item,
    li.column-item>a {
      color: $color-footer-text-grey;
    }
    .shopify-section-footer__column-contact {
      a {
        font-size: 22px;
        color: $color-main-green;
      }
      .logo {
        width: 180px;
      }
      .divider {
        border: .25px solid $color-footer-text-alt-grey;
        margin: 20px auto 0 auto;
        width: 75%;
      }
      .psi-logo {
        display: block;
        max-width: 110px;
        margin: 0 auto;
        margin-top: 20px;
      }
    }
    .shopify-section-footer__column-opening {
      font-size: 20px;
      margin-bottom: 20px;
      margin-top: 20px;
      padding: 0;
      text-align: center;
    }
    .shopify-section-footer__column-social {
      margin-bottom: 0;
      margin-top: 20px;
      padding: 0;
      text-align: center;
      li:nth-child(2) {
        line-height: 30px;
      }
      p {
        font-size: 20px;
        color: $color-footer-text-grey;
      }
      .social-links a {
        display: -moz-inline-stack;
        display: inline-block;
        zoom: 1;
        *display: inline;
        margin: 0;
        padding: 0.05em;
        font-size: 75px !important;
        .shopify-social-icon-facebook-rounded,
        .shopify-social-icon-twitter-rounded {
          color: $color-footer-text-alt-grey !important;
        }
      }
    }
    .shopify-section-footer__column-legal {
      font-size: 20px;
      margin-bottom: 20px;
      margin-top: 20px;
      padding: 0;
      text-align: center;
    }
    .shopify-section-footer__bottom {
      color: $color-footer-text-grey;
      margin-bottom: 20px;
      margin-top: 20px;
      text-align: center;
      a {
        color: $color-footer-text-grey;
      }
      .payment-icons {
        text-align: center;
        margin-bottom: 1rem;
        .methods-of-payment img {
          padding: 0.2em;
        }
        .lt-ie9 .methods-of-payment,
        .ie8 .methods-of-payment,
        .oldie .methods-of-payment {
          display: none;
        }
      }
    }
  }
}

@media only screen and (min-width: 500px) {
  #shopify-section-footer {
    footer.shopify-section-footer {
      span.column-title {
        font-size: 26px;
        font-weight: 200;
        color: $color-main-green;
      }
      .shopify-section-footer__column-social {
        .social-links {
          a {
            height: 90px;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 992px) {
  #shopify-section-footer {
    section:not(.shopify-section-footer__bottom) {
      text-align: left !important;
    }
    .shopify-section-footer__column-contact {
      border-right: .25px solid #6b6b6b;
      font-weight: 200;
      text-align: left;
      i {
        margin-right: 10px;
      }
    }
    section:first-child {
      padding-right: 30px;
    }
    section:nth-child(2) {
      margin-left: 30px;
    }
  }
}
