//*******************************************
//***           HOME BANNER - SECTION     ***
// ******************************************
#shopify-section-home-banner {
  height: 650px;
  background-color: white;
  .col-lg-7 {
    position: relative;
    .shopify-section-banner__main {
      position: absolute;
      top: 40%;
      left: 50%;
      height: 30%;
      width: 90%;
      margin: -15% 0 0 -45%;
      * {
        margin-top: 20px;
        margin-bottom: 20px;
      }
      .shopify-section-banner__main__heading {
        white-space: nowrap;
        color: $color-main-gray;
        font-size: 3.75rem;
      }
      .shopify-section-banner__main__text {
        color: $color-main-gray;
        font-size: 1.25rem;
      }
      .shopify-section-banner__main__button {
        font-size: 1.75rem;
        font-weight: 400;
        padding: 10px 30px;
        background-color: white;
        color: $color-main-green;
        border: 2.5px solid $color-main-green;
      }
    }
  }
  .shopify-section-banner__secondary {
    // image
    line-height: 650px;
    .shopify-section-banner__secondary__image {
      z-index: -1;
      vertical-align: bottom;
    }
  }
}

#custom-button { // located on the "pharmacists snippet"
  font-size: 1.75rem;
  font-weight: 400;
  padding: 10px 30px;
  background-color: $color-main-green;
  color: white;
  border: 2.5px solid white;
}
