//*******************************************
//***           HOME BANNER - SECTION     ***
// ******************************************
#shopify-section-home-banner {
  height: 650px;
  background-color: white;
  .col-lg-7 {
    position: relative;
    .shopify-section-banner__main {
      position: absolute;
      top: 40%;
      left: 50%;
      height: 30%;
      width: 90%;
      margin: -15% 0 0 -45%;
      * {
        margin-top: 20px;
        margin-bottom: 20px;
      }
      .shopify-section-banner__main__heading {
        @include text-heading;
        white-space: nowrap;
        color: $color-main-gray;
      }
      .shopify-section-banner__main__text {
        @include text-regular;
        color: $color-main-gray;
      }
      .shopify-section-banner__main__button {
        @include text-regular;
        @include button-regular(white, $color-main-green);
        border: 2.5px solid $color-main-green;
        @media only screen and (max-width: 550px) {
          width: 100%;
          font-size: 2.25em;
        }
      }
    }
  }
  .shopify-section-banner__secondary {
    // image
    line-height: 650px;
    .shopify-section-banner__secondary__image {
      z-index: -1;
      vertical-align: bottom;
      @media only screen and (max-width: 987px) {
        display: none;
      }
    }
  }
  @media only screen and (max-width: 987px) {
    margin-top: 13em;
    height: 450px;
  }
}

#custom-button { // located on the "pharmacists snippet"
  @include text-regular;
  padding: 10px 30px;
  background-color: $color-main-green;
  color: white;
  border: 2.5px solid white;
}
