//*******************************************
//***           HOME BANNER - SECTION     ***
// ******************************************

// mobile 1st
#shopify-section-home-banner {
  height: 390px;
  background-color: #fff;
  .home-banner__main {
    width: 100%;
    .home-banner__main__heading {
      @include text-heading-mobile;
      @include regular-bottom-margin;
      color: $color-main-gray;
    }
    .home-banner__main__text {
      @include text-regular-mobile;
      @include regular-bottom-margin;
      color: $color-main-gray;
    }
    .home-banner__main__button {
      @include button-regular-mobile;
      @include regular-bottom-margin;
    }
  }
  .home-banner__secondary {
    .home-banner__secondary__image {
      display: none;
      @media only screen and (min-width: 992px) {
        margin-left: 2px; // This is to avoid main__heading being covered by the image
        display: inline;
        z-index: -1;
        vertical-align: bottom;
      }
    }
  }
}

// tablet - medium screen
@media only screen and (min-width: 500px) {
  #shopify-section-home-banner {
    height: 400px;
    .home-banner__main {
      .home-banner__main__heading {
        padding-top: 7rem;
        margin-bottom: 20px;
      }
      .home-banner__main__text {
        margin-bottom: 20px;
      }
      .home-banner__main__button {
        margin-bottom: 20px;
        width: 400px;
      }
    }
  }
}

// lg+ screens
@media only screen and (min-width: 992px) {
  #shopify-section-home-banner {
    height: 650px;
    .home-banner__main {
      .home-banner__main__heading {
        @include text-heading(4.5rem);
        white-space: nowrap;
      }
      .home-banner__main__text {
        @include text-regular;
      }
      .home-banner__main__button {
        @include button-regular-outlined;
      }
    }
    .home-banner__secondary {
      line-height: 650px;
    }
  }
}
