


#CustomerLoginForm {
  background-color: $color-main-green;
  padding-top: 90px;
  .wrapper {
    background:white;
    border:.5px solid #f2f2f2;
    padding: 50px 70px;
    margin: 40px auto;
    width:450px;
    box-shadow: 1px 1px 9px black;
  }
}