#registration-page-garda {
  padding-top: 55px;
  background:
    linear-gradient(rgba(255, 255, 255, 0.55),
    rgba(255, 255, 255, 0.55)),
    url("https://res.cloudinary.com/djr6sgsbd/image/upload/v1537193876/Group_Copy.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 170vh;

  aside.sidebar {
    padding: 35px 5px;
    background-color: #00bfb3;
    background: url("https://res.cloudinary.com/djr6sgsbd/image/upload/v1537193876/Group_Copy.png");
    background-position: top-left;
    background-repeat: repeat;
    background-size: cover;

    #garda-logo {
      opacity: 0.5;
    }
  }
}

main.form-wrapper {
  box-shadow: 1px 1px 45px grey;
  background-color: #fff;
  padding: 35px 110px;
  max-width: 800px;

  .logos-wrapper {
    justify-content: center;
    display: flex;
    width: 440px;
  }

  #garda-registration-form {

    h1.title {
      @include text-heading;
    }

    .text-box {
      text-align: center;
      padding: 25px;
      margin: 25px 0;
      background-color: #00bfb3;

      p {
        @include text-regular(16px, white);
        font-weight: bold;
      }

      :last-child {
        margin-bottom: 0;
      }

    }

    h3.tab-title,
    p.tab-tagline {
      text-align: center;
    }

    /* Hide all steps by default: */
    .tab {
      display: none;
      margin-bottom: 25px;
    }

    .steps-wrapper {
      margin-top: 35px;
    }

    /* Make circles that indicate the steps of the form: */
    .step {
      height: 15px;
      width: 15px;
      margin: 0 2px;
      background-color: #bbbbbb;
      border: none;
      border-radius: 50%;
      display: inline-block;
      opacity: 0.5;
    }

    /* Mark the active step: */
    .step.active {
      opacity: 1;
    }

    /* Mark the steps that are finished and valid: */
    .step.finish {
      background-color: $color-main-green;
    }

    input.invalid,
    select.invalid,
    textarea.invalid {
      border: 2px solid tomato;
    }

    span[id$="ErrorMessage"] {
      color: tomato;
      font-size: 12px;
      font-weight: bolder;
      display: none;
    }

    //Checkout tab (Home visit or phone call)
    label.checkout-radio-wrapper {
      -moz-user-select: none;
      -ms-user-select: none;
      -webkit-user-select: none;
      border-radius: 7px;
      display: block;
      margin: 0 auto;
      overflow: hidden;
      text-align: center;
      user-select: none;
      width: 150px;

      input[name="checkoutOption"] {
        cursor: pointer;
        display: block;
        height: 150px;
        opacity: 0;
        position: absolute;
        width: 150px;

        &:checked~.checkmark {
          color: $color-main-green;
          border: 5px solid $color-main-green;
        }
      }

      span.checkmark {
        background-color: #fff;
        border-radius: 14px;
        border: 2.5px solid #999;
        color: #999;
        display: block;
        font-size: 100px;
        height: 150px;
        line-height: 150px;
        text-align: center;
        width: 150px;
      }
    }

    button#nextBtn {
      @include button-regular-form;

      &:hover {
        font-weight: 400;
        opacity: .8;
      }

      &[disabled="true"] {
        opacity: .5;
      }
    }

    button#prevBtn {
      @include button-regular-form-outlined;

      &:hover {
        font-weight: 400;
        background-color: #ccf2ef;
      }
    }

    button#addMember {
      @include button-regular-form-outlined;
      display: block;
      margin: 35px auto;
    }

    // DataTable for add extra member at regsitration time

    [id^="table_id_"]:not(#table_id_wrapper) {
      display: none;
    }

    table.dataTable thead th {
      border-bottom: 0;
    }

    table.dataTable.no-footer {
      border-bottom: 0;
    }

    .sorting,
    th.sorting_asc {
      background-image: none !important;
    }

  }
}

div#card-form {
  display: none;
}

.StripeElement {
  background-color: white;
  height: 40px;
  padding: 10px 12px;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}
