#registration-page-garda {
  padding-top: 55px;
  background:
    linear-gradient(rgba(255, 255, 255, 0.55),
    rgba(255, 255, 255, 0.55)),
    url("https://res.cloudinary.com/djr6sgsbd/image/upload/v1537193876/Group_Copy.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 170vh;

  aside.sidebar {
    padding: 35px 5px;
    background-color: #00bfb3;
    background: url("https://res.cloudinary.com/djr6sgsbd/image/upload/v1537193876/Group_Copy.png");
    background-position: top-left;
    background-repeat: repeat;
    background-size: cover;

    #garda-logo {
      opacity: 0.5;
    }

    .welcome-text>p {
      @include text-regular(16px, white)
    }
  }

  main.form-wrapper {
    box-shadow: 1px 1px 45px grey;
    background-color: #fff;
    padding: 55px 105px;
    max-width: 800px;

    .logos-wrapper {
      justify-content: center;
      display: flex;
      width: 440px;
    }

    #garda-registration-form {

      h1.title {
        @include text-heading;
      }

      /* Hide all steps by default: */
      .tab {
        display: none;
      }

      .steps-wrapper {
        margin-top: 35px;
      }

      /* Make circles that indicate the steps of the form: */
      .step {
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbbbbb;
        border: none;
        border-radius: 50%;
        display: inline-block;
        opacity: 0.5;
      }

      /* Mark the active step: */
      .step.active {
        opacity: 1;
      }

      /* Mark the steps that are finished and valid: */
      .step.finish {
        background-color: $color-main-green;
      }

      input.invalid,
      select.invalid,
      textarea.invalid {
        border: 2px solid lightcoral;
      }

      span[id$="ErrorMessage"] {
        color: tomato;
        font-size: 12px;
        font-weight: bolder;
        display: none;
      }

      button#nextBtn {
        @include button-regular-form;
      }

    }
  }
}
