// Utilities
@mixin center-block {
  display: block;
  margin: 0 auto;
}

// Spacing
@mixin regular-bottom-margin {
  margin-bottom: 16px;
}

// Typography mixins

// default font-sizes
$regular-font-size: 1.625rem;
$heading-font-size: 3.125rem;

// * HEADINGS

// Regular

@mixin text-heading($font-size: $heading-font-size, $font-weight: 300) {
  font-size: $font-size;
  font-weight: $font-weight;
  color: $color-main-gray;
}

@mixin text-regular($font-size: $regular-font-size) {
  font-size: $font-size;
  font-weight: 300;
  letter-spacing: .02em;
  color: $color-main-gray;
}

// Mobile

@mixin text-heading-mobile($font-size: 2.5rem, $font-weight: 700) {
  font-size: $font-size;
  font-weight: $font-weight;
  color: $color-main-gray;
  letter-spacing: -.03em;
  line-height: 1.2em;
}

@mixin text-regular-mobile($font-size: 1.1875rem) {
  font-size: $font-size;
  font-weight: 400;
  letter-spacing: -.02em; // line-height: 1.2em;
  color: $color-main-gray;
}

// Links / Nav

@mixin text-regular-nav-link($color: $color-main-gray, $font-size: 1.3rem) {
  color: $color;
  font-size: $font-size;
}

// Buttons

@mixin button-sizing {                // Basic mixin for button sizing
  font-size: $regular-font-size;
  font-weight: 300;
  padding: 15px 30px;
  width: 250px;
}

@mixin button-regular($bg-color: $color-main-green, $text-color: white) {
  @include button-sizing;
  background-color: $bg-color;
  color: $text-color;
}
@mixin button-regular-outlined($bg-color: white, $text-color: $color-main-green) {
  @include button-sizing;
  background-color: $bg-color;
  border: 1.75px solid $text-color;
  color: $text-color;
}

@mixin button-regular-mobile($bg-color: $color-main-green, $text-color: white) {
  background-color: $bg-color;
  border-radius: 3px;
  color: $text-color;
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: .03em;
  padding: 1rem 0;
  text-decoration: none;
  width: 100%;
}

// Navigation Buttons

@mixin button-navigation-mobile--regular($bg-color: $color-main-green, $text-color: white) {
  @include button-regular-mobile;
  border: 2px solid $bg-color;
  margin-bottom: .25rem;
  margin-top: .25rem;
}
@mixin button-navigation-mobile--outlined($bg-color: white, $text-color: $color-main-green) {
  @include button-regular-mobile;
  background-color: $bg-color;
  border: 2px solid $text-color;
  color: $text-color;
  margin-bottom: .25rem;
  margin-top: .25rem;
}

@mixin button-navigation-tablet {
  width: 120px;
  height: 50px;
  padding: 0;
}
@mixin button-navigation-tablet--outlined {
  width: 120px;
  height: 50px;
  padding: 0;
}

@mixin button-navigation-desktop {
  padding: 5px 15px;
  font-weight: 500;
}
@mixin button-navigation-desktop {
  padding: 5px 15px;
  font-weight: 500;
}
