// * Custom Mixins for Healthwave Shopify Theme
// ------------------------------------------

// * Table of contents:
//
//   1. Utilities (centering, manipulating)
//
//   2. Spacing (for applying site-wide margins ie.)
//
//   3. Typography
//   -  Desk
//   -  Mobile
//
//   4. Buttons
//   -  Desk
//   -  Mobile
//
//   5. Links / Nav
//   -  Buttons
//   -    Desk
//   -    Mobile

// *******************************************
// *            1. Utilities                 *
// *******************************************

@mixin center-block {
  display: block;
  margin: 0 auto;
}

// *******************************************
// *             2. Spacing                  *
// *******************************************

@mixin regular-bottom-margin {
  margin-bottom: 16px;
}

// *******************************************
// *        3. Typography mixins             *
// *******************************************

$regular-font-size: 1.625rem;
$heading-font-size: 3.125rem;

//    Typography Desk

@mixin text-heading($font-size: $heading-font-size, $font-weight: 300) {
  color: $color-main-gray;
  font-size: $font-size;
  font-weight: $font-weight;
}

@mixin text-regular($font-size: $regular-font-size, $color: $color-main-gray) {
  color: $color;
  font-size: $font-size;
  font-weight: 300;
  letter-spacing: .02em;
}

//    Typography Mobile

@mixin text-heading-mobile($font-size: 2.5rem, $font-weight: 700) {
  color: $color-main-gray;
  font-size: $font-size;
  font-weight: $font-weight;
  letter-spacing: -.03em;
  line-height: 1.2em;
}

@mixin text-regular-mobile($font-size: 1.1875rem) {
  color: $color-main-gray;
  font-size: $font-size;
  font-weight: 400;
  letter-spacing: -.02em; // line-height: 1.2em;
}

// *******************************************
// *              4. Buttons                 *
// *******************************************

@mixin button-sizing($font-size: $regular-font-size) {
  // Basic mixin for button sizing
  font-size: $font-size;
  padding: 15px 30px;
  width: 250px;
}

@mixin button-regular-form($bg-color: $color-main-green, $text-color: white) {
  background-color: $bg-color;
  border: 1.75px solid $bg-color; // adding that rule so that both outline and normal buttons are the same height when aligned
  color: $text-color;
  font-size: 1.225rem;
  font-weight: 300;
  padding: 10px 20px;
  width: 200px;
}

@mixin button-regular-form-outlined($bg-color: white, $text-color: $color-main-green) {
  background-color: $bg-color;
  border: 1.75px solid $text-color;
  color: $text-color;
  font-size: 1.225rem;
  font-weight: 300;
  padding: 10px 20px;
  width: 200px;
}

@mixin button-regular($bg-color: $color-main-green, $text-color: white) {
  @include button-sizing;
  background-color: $bg-color;
  color: $text-color;
  font-weight: 500;
}

@mixin button-regular-outlined($bg-color: white, $text-color: $color-main-green) {
  @include button-sizing;
  background-color: $bg-color;
  border: 1.75px solid $text-color;
  color: $text-color;
  font-weight: 500;
}

@mixin button-regular-tablet($bg-color: $color-main-green, $text-color: white) {
  @include button-sizing(1rem);
  background: $bg-color;
  color: $text-color;
  font-weight: 500;
}

@mixin button-regular-outlined-tablet($bg-color: white, $text-color: $color-main-green) {
  @include button-sizing(1rem);
  background-color: $bg-color;
  border: 1.75px solid $text-color;
  color: $text-color;
  font-weight: 500;
}

@mixin button-regular-mobile($bg-color: $color-main-green, $text-color: white) {
  background-color: $bg-color;
  border-radius: 3px;
  color: $text-color;
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: .03em;
  padding: 1rem 0;
  text-decoration: none;
  width: 100%;
}

@mixin button-regular-mobile-outlined($bg-color: white, $text-color: $color-main-green) {
  background-color: $bg-color;
  border-radius: 3px;
  border: 1.75px solid $text-color;
  color: $text-color;
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: .03em;
  padding: 1rem 0;
  text-decoration: none;
  width: 100%;
}

@mixin button-cta-mobile($bg-color: $color-main-green, $text-color: white) {
  // Slightly more visible buttons for "Call-To-Action" contexts
  background-color: $bg-color;
  border-radius: 3px;
  color: $text-color;
  font-size: 1.75rem;
  font-weight: 700;
  letter-spacing: .1em;
  padding: 1.5rem 0;
  text-decoration: none;
  width: 100%;
}

// *******************************************
// *            5. Links / Nav               *
// *******************************************

@mixin text-regular-nav-link($color: $color-main-gray, $font-size: 1.3rem) {
  color: $color;
  font-size: $font-size;
}

//    Navigation Buttons

@mixin button-navigation-mobile--regular($bg-color: $color-main-green, $text-color: white) {
  @include button-regular-mobile;
  border: 2px solid $bg-color;
  margin-bottom: .25rem;
  margin-top: .25rem;
}

@mixin button-navigation-mobile--outlined($bg-color: white, $text-color: $color-main-green) {
  @include button-regular-mobile;
  background-color: $bg-color;
  border: 2px solid $text-color;
  color: $text-color;
  margin-bottom: .25rem;
  margin-top: .25rem;
}

@mixin button-navigation-tablet {
  width: 120px;
  height: 50px;
  padding: 0;
}

@mixin button-navigation-tablet--outlined {
  width: 120px;
  height: 50px;
  padding: 0;
}

@mixin button-navigation-desktop {
  padding: 5px 15px;
  font-weight: 500;
}

@mixin button-navigation-desktop {
  padding: 5px 15px;
  font-weight: 500;
}
