<div class="container">
  <div class="row">
    <div class="blog-main col-lg-9">
      <div class="container">
        <div class="row">
          {% comment %} {% include 'posts-grid' %} {% endcomment %}
          {% include 'posts-list' %}
        </div>
      </div>
    </div>
    <div class="blog-sidebar col-lg-3">
      {% include 'blog-categories-list' %}
      {% include 'recent-posts-list' %}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}



{% endstylesheet %}

{% javascript %}
{% endjavascript %}
