{% schema %}
  {
    "name": "Membership section",
    "class": "member",
    "settings": [
      {
        "type": "select",
        "id": "img_placement",
        "label": "Image placement",
        "options": [
          {
            "value": "right",
            "label": "Right"
          },
          {
            "value": "left",
            "label": "Left"
          }
        ]
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Text content"
      }
    ]
  }
{% endschema %}

<section class={{ section.id }}>
  <div class="container">
    <div class="grid">
      <div class="grid__item one-half">
        
      </div>
      <div class="grid__item one-half">

      </div>
    </div>
  </div>
</section>

{%- comment -%}

<section class="membership-page__section">
  <div class="container">
    <div class="grid">
      <div class="grid__item one-half">
        <div class="membership-page__section__text-wrapper">
          {% if condition %}
            {{ section.settings.text }}
          {% else %}
            <h1>Benefits for Members</h1>
            <ul>
              <li>The primary benefit of joining is reduced prescription prices</li>
              <li>As a member, you have access to 50% cheaper medications on average</li>
              <li>Free home delivery anywhere in Ireland*</li>
              <li>24 hour Blood Pressure monitoring service</li>
            </ul>
            <br>
            <h3>What kind of savings can I make?</h3>
            <p>A typical member saves between €200 and €500 per year.</p>
            <p>Some members have even saved up to €100 per month (€1200 per year).</p>
            <p>Savings depend on the type and number of medications you take. We will happily price your prescriptions via phone
              at 016853086 or email.</p>    
          {% endif %}
        </div>
      </div>
      <div class="grid__item one-half">
        <img src="{{ 'family-group.png' | asset_img_url: '350x', scale: 3 }}" />
      </div>
    </div>
  </div>
</section>

{%- endcomment -%}
